.container
  width: 500px
  margin: auto    

  h1
  text-align: center
  font-size: 30px
  padding-top: 200px
  
    
    
.questions 
  padding: 10px
  margin-top: 10px
  margin-bottom: 10px
  border-radius: 10px 
  font-size: 20px
  
  .question1
    border-width: medium
    border-style: solid
    padding: 10px
  .question1:hover:after
     content:"This is through the web browser so no."
     color: blue

.question2
    border-width: medium
    border-style: solid
    padding: 10px
.question2:hover:after
    content: "All donations go straight to the charity of your choice! We do not profit from this at all."
    color: blue

.question3
    border-width: medium
    border-style: solid
    padding: 10px
.question3:hover:after
    content: "Signing up will help keep track of how much you have donated and where you've donated to."
    color: blue

.question4
    border-width: medium
    border-style: solid
    padding: 10px
.question4:hover:after
    content: "No worries! visit https://www.getmonero.org/ if you are interested in Monero."
    color: blue









